$primaryColor:rgba(123, 10, 10, 1);
$secondColor:rgba(238, 211, 216, 1);
$primaryLightColor:rgba(148, 26, 26, 1);
$primaryTextColor:rgba(253, 231, 231, 1);
$primaryTextHoverColor:#ffffff;
$accentColor:rgba(15, 127, 113, 1);
$accentLightColor:rgba(199, 250, 245, 1);
$accentTextColor:#000000;
$activeMenuItemTextColor:rgba(123, 10, 10, 1);
$darkActiveMenuItemTextColor:rgba(123, 10, 10, 1);
$darkMenuItemTextColor:rgba(123, 10, 10, 1);
$darkMenuItemInactiveTextColor:rgba(123, 10, 10, 1);
$darkMenuItemHoverBgColor:rgba(123, 10, 10, 1);
$darkSidemenuBgColor:rgba(123, 10, 10, 1);
$darkMenuBgColor:rgba(123, 10, 10, 1);

@import '../../sass/layout/_layout';